*{
    margin: 0;
    padding: 0;
}
.frst{
    width: max-content;
}
button{
    width: 4rem;
    height: 4rem;
    border-radius: 0% !important;
    background-color: rgb(75, 72, 72) !important;
    border-color: rgb(49, 48, 48) !important ;
    color: white !important;
    font-size: 18px !important;
}
.dis{
    width: 15.8rem;
    height: 3rem;
    font-size: 24px;
    background-color: rgb(65, 63, 63);
    border: 1px solid rgb(49, 48, 48);
    color: white;
    direction: rtl;
}
.dis:focus{
    
    outline: none;
}
button:hover{
    background-color: rgb(114, 109, 109) !important;
}
.equal:hover{
    background-color:#f0ad4e !important;
}
.equal{
    background-color: rgb(255, 162, 0) !important ;
}